*{
    padding: 0;
    margin: 0;
}
body{
    background: #000;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.multi-select{
    width: 300px;
    padding:15px 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: white;
    box-shadow: 0 0 10px rgba(255,255,255,0.8);

&__input{
    width: 80%;
    font-size: 18px;
    margin: 0 10px;
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
}
&__toggle{
    border: none;
    background: inherit;
    margin-right: 5px;
}
&__inputBox{
    border: 1px solid #ccc;
    padding: 8px 0;
    border-radius: 10px ;
    display: flex;
    align-items: center;
   
    &.active{
        box-shadow: 0 0 10px rgb(69, 69, 224);
        outline: rgb(96, 96, 230);
        border: 2px solid rgb(152, 152, 218);
    }
}

&__list{
    list-style: none;
   margin-top: 15px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
}
&__item{
    border: 1px solid #d8ebfa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 12px;
    border-radius: 4px;
    margin: 10px 0;
    cursor: pointer;
    &--selected{
        background-color: #ebe3e3;
        color: rgb(94, 94, 223);
        font-weight: bolder;
    }
     &--duplicate {
      color: red;
      background: #fff8e1;
      font-weight: bold;
      border: 2px solid rgba(197, 20, 20, 0.6);
      box-shadow: 0 0 15px rgba(197, 20, 20, 0.6);
    }
   
}

}